body {
  font-family: 'Roboto', sans-serif !important;
}
.flat-butt {
  display: inline-block;
  margin: 0 5px;
  border-radius: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 16.5px;
  padding: 12px 20px;
  border: 0;
  background: #5CB85C;
  color: #FFF;
  cursor: pointer;
  outline: 0;
}
.modal-header {
  color: white;
  background-color: #E8854E;
  padding: 10px !important;
  border-bottom: 0px !important;
  font-size: 30px !important;
  text-align: center !important;
}
.modal-header h3 {
  font-size: 30px !important;
  opacity: 1 !important;
}
.modal-header h4 {
  font-size: 20px !important;
}
.modal-content  {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  background-color: white !important;
}
.modal-body {
  padding: 20px;
  text-align: center;
}
.modal-backdrop.in {
  opacity: 0.7;
}
.modal-footer {
  padding: 15px !important;
  text-align: center !important;
  border-top: 0px !important;
}
.form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-sm {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.form-group-sm .form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-lg {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.form-group-lg .form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}